<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Modal : moveFirstQuizMsg-->
<div class="modal fade" id="firstPageModal" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body text-center">
				<span>첫 번째 문제입니다!</span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-bs-dismiss="modal">확인</button>
			</div>
		 </div>
	</div>
</div>