<!DOCTYPE html>

<div class="modal fade" id="goHomeModal" data-bs-backdrop="static"
	data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="mb-3 text-center">
					<label for="message-text" class="col-form-label d-grid">
						<span>홈으로 가면, 모든 기록이 지워집니다.</span>
						<span>홈으로 이동하시겠습니까?</span>
					</label>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" onclick="kakaoLogout()">Next</button>
				<!-- <button type="button" class="btn btn-primary" onclick="	">Next</button> -->
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
			</div>
		 </div>
	</div>
</div>
</html>