<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Modal : invitationModal-->
<div class="modal fade" id="invitationModal" tabindex="-1" aria-labelledby="inviteMsgHeader" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="inviteMsgHeader">Thank you</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body text-center">
				<span th:text="${#strings.defaultString(userVO.userNm, 'GUEST')}"></span>
				<span>님 환영합니다.</span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-bs-dismiss="modal">확인</button>
			</div>
		 </div>
	</div>
</div>
</html>