<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="sidebarFragment">
	<div class="border-primary border-end p-5" style="font-family: 'KOTRA_BOLD-Bold';">
	
		<th:block th:each=cnmmCd:${cnmmCdList}>
			<div class="display-6 m-2">
				<a href="#" th:text="${cnmmCd.cmmnDtlNm}"></a>
			</div>
			<th:block th:each="num : ${#numbers.sequence(1, quizMstrInfoVO.quizTotalCnt)}"
				th:if="${cnmmCd.cmmnDtlCd == quizMstrInfoVO.subjectTypeCd}">
				<a href="#"><span class="fs-5 m-3" th:text="${#strings.length(num) == 1 ? '0' + num : num}" ></span></a>
			</th:block>
		</th:block>
		
	</div>
</div>