<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/sidebarLayout}">

<head>
    <title>quiz</title>
</head>

<div layout:fragment="content">


	<div class="container">
		<form action="" method="post" id="quizForm">
			<input type="hidden" th:field="${userVO.userId}"/>
			<input type="hidden" th:field="${userVO.userNm}"/>
			<input type="hidden" th:field="${quizMstrInfoVO.secSolving}"/>
			<input type="hidden" th:field="${quizMstrInfoVO.minSolving}"/>
	
			<div>
				<div class="d-flex justify-content-between align-items-end">
					<div>
						<h1 class="text-center" id="count-down-timer"></h1>
					</div>
					<div class="m-1">
						<i class="fas fa-home fa-3x" onclick="goHome();"></i>
						<i class="fas fa-poll fa-3x" onclick="goQuiz('result');"></i>
					</div>
				</div>
				<div class="progress">
					<div class="progress-bar progress-bar-striped progress-bar-animated" id="progress-bar" role="progressbar" style="width: 100%;">105%</div>
				</div>
			</div>

			<div class="d-flex flex-column justify-content-between my-5" id="quizDiv">
				<div>
					<input type="hidden" th:field="${quizMstrInfoVO.quizMstrInfoSeq}"/>
					<input type="hidden" th:field="${quizMstrInfoVO.quizUserAnsSeq}"/>
					<input type="hidden" th:field="${quizMstrInfoVO.subjectTypeCd}"/>
					<input type="hidden" th:field="${quizMstrInfoVO.srtNo}"/>
					<input type="hidden" th:field="${quizMstrInfoVO.quizTotalCnt}"/>
					<input type="hidden" th:field="${quizMstrInfoVO.userAnswer}"/>
					
					<div class="my-3 d-flex justify-content-between align-items-center">
						<div class="fs-4 fw-bold " style="font-family: 'NEXON Lv1 Gothic OTF Bold';">
							<div>
								<span th:text="${quizMstrInfoVO.examYear}"></span>
								<span th:text="${quizMstrInfoVO.examGrpNm}"></span>
								<span th:text="|${quizMstrInfoVO.examNo}회|"></span>
							</div>
							<div>
								<span th:text="${quizMstrInfoVO.subjectTypeNm}"></span>
								<th:block th:each="quiz:${quizResultList}" th:if="${quiz.quizMstrInfoSeq == quizMstrInfoVO.quizMstrInfoSeq}">
									<span th:text="${#strings.length(quiz.rno) == 1 ? '0' + quiz.rno : quiz.rno}"></span>
								</th:block>
							</div>
						</div>
						<div>
							<th:block th:if="${not #strings.isEmpty(quizMstrInfoVO.cmntr)}">
								<button type="button" class="btn btn-primary mx-3" onclick="toggleCmntr();">해설</button>
							</th:block>
						</div>
					</div>
					
					<div class="lh-lg fs-5" style="min-height: 200px;">
						<th:block th:utext="${quizMstrInfoVO.content}"/>
					</div>
				</div>
				
				<div id="cmntrDiv" class="px-5 py-4 my-1 fs-5" style="display:none; border:solid 1px #dddddd;">
					<th:block th:if="${not #strings.isEmpty(quizMstrInfoVO.cmntr)}">
						<button type="button" class="btn btn-primary my-3" onclick="toggleCmntr();">해설</button>
						<div th:utext="${quizMstrInfoVO.cmntr}"></div>
					</th:block>
				</div>

				<div class="d-flex justify-content-between align-items-center my-5 text-center btn-grp">
					<div>
						<i class="fas fa-angle-left fa-3x" onclick="goQuiz('prev');"></i>
					</div>
					<div class="list-group w-100 mx-5">
						<th:block th:each="dtlInfo:${quizMstrInfoVO.quizMstrDtlList}">
							<div class="my-3 exDiv d-flex text-start">
								<i class="fas fa-eraser" onclick="eraser(this);"></i>
								<a class="list-group-item list-group-item-action w-75 mx-3"
									th:classappend="${quizMstrInfoVO.userAnswer} == ${dtlInfo.srtNo} ? list-group-item-dark"
									onclick="chkAnswer(this);">
									<span class="fw-bold mx-1" th:if="${dtlInfo.srtNo == 1}">&#9312;</span>
									<span class="fw-bold mx-1" th:if="${dtlInfo.srtNo == 2}">&#9313;</span>
									<span class="fw-bold mx-1" th:if="${dtlInfo.srtNo == 3}">&#9314;</span>
									<span class="fw-bold mx-1" th:if="${dtlInfo.srtNo == 4}">&#9315;</span>
									<span class="fw-bold mx-1" th:if="${dtlInfo.srtNo == 5}">&#9316;</span>
									<span class="exCntnt mx-1" th:text="${dtlInfo.content}"
										th:classappend="${dtlInfo.eraseYn} == 'Y' ? text-decoration-line-through"></span>
								</a>
								<th:block th:if="${not #strings.isEmpty(dtlInfo.cmntr)}">
									<button type="button" class="btn btn-primary my-3" onclick="toggleDtlCmntr(this);">해설</button>
								</th:block>
								<input type="hidden" th:name="|quizMstrDtlList[${dtlInfoStat.index}].quizMstrDtlSeq|" 
									th:value="${dtlInfo.quizMstrDtlSeq}"/>
								<input type="hidden" th:name="|quizMstrDtlList[${dtlInfoStat.index}].srtNo|" 
									th:value="${dtlInfo.srtNo}" class="dtlInfoSrtNo"/>
								<input type="hidden" th:name="|quizMstrDtlList[${dtlInfoStat.index}].eraseYn|"
									 th:value="${dtlInfo.eraseYn}" class="eraseYn"/>
								<input type="hidden" th:name="|quizMstrDtlList[${dtlInfoStat.index}].quizUserAnsDtlSeq|"
									th:value="${dtlInfo.quizUserAnsDtlSeq}" />
							</div>
							<div class="px-3 py-2 my-1 text-start border border-primary rounded-pill" style="display:none; border:solid 1px #dddddd;">
								<th:block th:if="${not #strings.isEmpty(dtlInfo.cmntr)}">
									<div th:utext="${dtlInfo.cmntr}"></div>
								</th:block>
							</div>
						</th:block>
					<!-- <i class="far fa-check-circle fa-5x"
						th:classappend="${quizMstrInfoVO.userAnswer} == 'O' ? active" onclick="trigger(this, 'O')"></i>
					<i class="far fa-times-circle fa-5x"
						th:classappend="${quizMstrInfoVO.userAnswer} == 'X' ? active" onclick="trigger(this, 'X')"></i> -->
					</div>
					<div>
						<i class="fas fa-angle-right fa-3x" onclick="goQuiz('next');"></i>
					</div>
				</div>
				
				<div class="row g-3 w-50 align-items-center" style="display:none">
					<div class="col">
						<select class="form-select form-select-lg fx-bold" aria-label=".form-select-lg example"
							onchange="selectQuiz();" id="subjectType">
							<th:block th:each=cnmmCd:${cnmmCdList}>
								<option th:value="${cnmmCd.cmmnDtlCd}" th:text="${cnmmCd.cmmnDtlNm}"
									th:selected="${cnmmCd.cmmnDtlCd == quizMstrInfoVO.subjectTypeCd}"/>
							</th:block>
						</select>
					</div>
					<div class="col" th:with="totalCnt=${quizMstrInfoVO.quizTotalCnt}">
						<select class="form-select form-select-lg fx-bold" aria-label=".form-select-lg example"
							onchange="selectQuiz();" id="quizNo">
							<th:block th:each="quiz : ${quizResultList}" th:if="${quiz.subjectTypeCd == quizMstrInfoVO.subjectTypeCd}">
								<option th:value="${quiz.srtNo}" th:text="${quiz.rno}"
									th:selected="${quiz.srtNo == quizMstrInfoVO.srtNo}"/>
							</th:block>
						</select>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<th:block layout:fragment="script">
	<script th:src="@{/js/quiz/quizFunc.js}"></script>
	<script>
		invitation();
	</script>
</th:block>

</html>