<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/defaultlayout">

	<div class="text-center">
		<div>
			<h1 class="display-5 text-primary">제11회 변호사시험 합격예측</h1>
			<h1 class="display-1 text-primary">심심풀이 테스트</h1>
		</div>
		<div class="my-5">
			<button type="button" class="btn btn-primary btn-lg btn-block px-5 py-3">시작하기</button>
		</div>
		<div>
			<span class="d-block">현직 변호사가 고른 문제들로 변호사시험 합격을 예측해보세요!</span>
			<span class="d-block">헌법, 형법, 민법을 테스트하는 데 소요되는 시간은 총 30분입니다.</span>
			<span class="d-block">제 11회 변호사시험 합격여부를 예측하고, 결과를 친구들과 공유해보세요!</span>
			<span class="d-block">* 테스트 화면은 '컴퓨터'와 '태블릿'에 최적화되어 있습니다.</span>
		</div>
	</div>

</html>