<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layouts/defaultLayout">

	<div layout:fragment="content" class="container">
		<form action="" method="post" id="resultForm">
			<input type="hidden" th:field="${quizMstrInfoVO.userId}"/>
		</form>
		
		<div class="m-3 text-end">
			<i class="fas fa-home fa-3x" onclick="goHome('resultForm');"></i>
		</div>
		<div class="row">
			<div class="col-md">
				<div class="bg-primary text-light px-4 py-3">
					<span class="d-block fs-1 text-center" style="font-family: 'NEXON Lv1 Gothic OTF Bold';">변호사시험 합계예측 결과</span>
					<span class="d-block text-center fs-2" style="font-family: 'GongGothicMedium';">: ??.? %의 확률로 합격 예상</span>
				</div>
				<div>
					그래프
				</div>
			</div>
			<div class="col-md">
				<table class="table table-sm table-striped caption-top table-bordered border-primary align-middle text-center">
					<thead>
						<caption class="fs-5">헌법</caption>
						<!-- <tr>
							<th scope="col">문제</th>
							<th scope="col">정답</th>
						</tr> -->
					</thead>
					<tbody>
							<tr>
								<th scope="row">정답</th>
								<th:block th:each="list : ${quizResultList}">
									<td class="fw-bold" colspan="2" th:text="${list.answer}"></td>
								</th:block>
							</tr>
							<tr>
								<th scope="row">채점</th>
								<th:block th:each="list : ${quizResultList}">
									<td th:text="${list.userAnswer == '' ? 'X' : list.userAnswer}"></td>
									<td th:text="${list.answerChk}"></td>
								</th:block>
							</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row my-5">
			<div class="col text-center">
				<button type="button" class="btn btn-primary btn-lg btn-block px-5 py-3 fw-bold">예비합격증 받기</button>
			</div>
		</div>
	</div>

    <th:block layout:fragment="script">
        <script th:src="@{/js/quizFunc.js}"></script>
    </th:block>
    
</html>