<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layouts/defaultLayout">

	<div class="text-center">
		<div>
			<span class="d-block display-1 text-primary">수고하셨습니다.</span>
			<div class="display-5 text-primary my-3">
				<span>(총 소요시간 : </span>
				<span>???</span>
				<span>분)</span>
			</div>
		</div>
		<div class="my-5">
			<button type="button" class="btn btn-primary btn-lg btn-block px-5 py-3">결과보기</button>
		</div>
	</div>

</html>