<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/defaultLayout}">

	<div layout:fragment="content" class="container">
		<form action="" method="post" id="resultForm">
			<input type="hidden" th:field="${quizMstrInfoVO.userId}"/>
		</form>
		
		<div class="m-3 text-end">
			<i class="fas fa-home fa-3x" onclick="goHome();"></i>
		</div>
		<div class="row">
			<div class="col-md">
				<div class="bg-primary text-light px-4 py-3">
					<span class="d-block fs-1 text-center" style="font-family: 'NEXON Lv1 Gothic OTF Bold';">변호사시험 합계예측 결과</span>
					<span class="d-block text-center fs-2" style="font-family: 'GongGothicMedium';">: ??.? %의 확률로 합격 예상</span>
				</div>
				<div >
					<canvas id="myChart"></canvas>
				</div>
			</div>
			<div class="col-md">
			
				<div class="display-5 text-primary my-3" th:text="${session.userNm}"></div>

				<th:block th:each="quizCnt : ${quizCntList}">
					<input type="hidden" th:name="|quizTotalCnt${quizCnt.subjectTypeCd}|" th:value="${quizCnt.quizTotalCnt}">
					<input type="hidden" th:name="|quizTrueCnt${quizCnt.subjectTypeCd}|" th:value="${quizCnt.quizTrueCnt}">
				</th:block>

				<th:block th:each="cnmmCd : ${cnmmCdList}">
					<table class="table table-sm table-striped caption-top table-bordered border-primary align-middle text-center">
						<caption class="fs-5" th:text="${cnmmCd.cmmnDtlNm}"></caption>
						<!-- <thead>
							<tr>
								<th scope="col">문제</th>
								<th scope="col">정답</th>
							</tr>
						</thead> -->
						<tbody>
							<tr>
								<td class="fw-bold quizTd" colspan="2" 
									th:each="result : ${quizResultList}"
									th:if="${result.subjectTypeCd == cnmmCd.cmmnDtlCd}"
									th:text="${result.srtNo}"
									th:onclick="|moveQuiz(10, ${result.srtNo})|">
								</td>
							</tr>
							<tr>
								<th:block th:each="result : ${quizResultList}" th:if="${result.subjectTypeCd == cnmmCd.cmmnDtlCd}">
									<td style="width:50px;" th:text="${result.userAnswer}"></td>
									<td class="fw-bold" style="width:50px;"
										th:classappend="${result.answerChk} == 'T' ? text-primary : text-danger"
										th:text="${result.answerChk}"></td>
								</th:block>
							</tr>
						</tbody>
					</table>
				</th:block>
				
			</div>
		</div>
		<div class="row my-5">
			<div class="col text-center">
				<button type="button" class="btn btn-primary btn-lg btn-block px-5 py-3 fw-bold">예비합격증 받기</button>
			</div>
		</div>
	</div>
	
<th:block layout:fragment="script">
	<script type="text/javascript">
		
		var quizResultLaw10 = $('[name=quizTrueCnt10]').val() / $('[name=quizTotalCnt10]').val() * 100;
		var quizResultLaw20 = $('[name=quizTrueCnt20]').val() / $('[name=quizTotalCnt20]').val() * 100;
		var quizResultLaw30 = $('[name=quizTrueCnt30]').val() / $('[name=quizTotalCnt30]').val() * 100;
		
		var context = document.getElementById('myChart').getContext('2d');
		var myChart = new Chart(context
				, {
					type: 'bar' // 차트의 형태
					, data: { // 차트에 들어갈 데이터
						labels: ['헌법', '형법', '민법'] //x 축
						, datasets: [ //데이터
							{ 
								label: '결과' //차트 제목
								, fill: false // line 형태일 때, 선 안쪽을 채우는지 안채우는지
								, data: [quizResultLaw10, quizResultLaw20, quizResultLaw30] //x축 label에 대응되는 데이터 값
								, backgroundColor: [ //색상
									'rgba(255, 99, 132, 0.2)'
									, 'rgba(54, 162, 235, 0.2)'
									, 'rgba(255, 206, 86, 0.2)'
								]
								, borderColor: [ //경계선 색상
									'rgba(255, 99, 132, 1)'
									, 'rgba(54, 162, 235, 1)'
									, 'rgba(255, 206, 86, 1)'
								]
								, borderWidth: 1 //경계선 굵기
							}
						]
					}
				, options: {
					scales: {
						yAxes: [
							{ ticks:
								{ beginAtZero: true }
							}
						]
					}
				}
			});
	</script>
	<script th:src="@{/js/quiz/quizFunc.js}"></script>
</th:block>
	
</html>